/*******************************************BREAKPOINTS************************************************/
/*********version desktop*************/

/**************************** @media 1240px *************************/ 

@media all and (min-width: 1240px) {


    .title-h1, 
    #discover {
        width: 100%;
    }

    .title-h1 {
        margin-left: 120px
    }

    .explore-restaurant {
    width: 15%;
    }

    #choice {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin-left: auto;   /*en utilsant auto sur margin-left et margin-right les éléments se placent au milieu*/
        margin-right: auto;
    }

    /******Troiséme section, restaurants et nom des menus*******/


#third-section {
   padding-top: 1px;
   padding-bottom: 0%;
}

.title-restaurant {
margin: 15px 80px;
margin-left: 180px
}


.restaurants {
    display: flex;
    flex-wrap: wrap;
}


    .backround-card {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .pictures {
        width: 100%;
        
    }

    .new {
        position: relative;
        right: 0;
    }

   
.fas.fa-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1;
}








/******************Footer*************/
footer {
    flex-direction: row;
    padding: 2%;
}

.flex-info {
    flex-direction: row;
    justify-content: space-between;
}

  

}

