/***Feuille de style home-mobile.css projet 4 Ohmyfood Mobile First***/
/***J'intégre d'abord la version mobile puis tablette puis desktop***/

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"); /***On peut mettre ce lien de google font (police d'écriture) soit ds le CSS soit ds le html***/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

html {
  text-size-adjust: 100%; /* Determine ajustement taille police par rapport à sa taille initiale*/
  font-size: 100%; /*Tous mes éléments utilisant l’unité de mesure REM, auront une taille relative à cette taille (100% dans le cas présent)*/
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "roboto", sans-serif;
}

/****Loading spinner****/
#wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  animation: 3s hidewrapper forwards;
  background-color: rgb(156, 150, 150);
  opacity: 0.8;
  z-index: 100000;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#spinner {
  width: 100px;
  height: 100px;
  border: 8px solid rgba(225, 225, 225, 0.3);
  border-color: rgb(243, 89, 243) #49c0d8;
  margin-right: 10px;
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: 1s spin infinite ease-in-out;
}
#chargement {  /*Le mot loading s'affiche lors de l'apparition du loadding spinner*/
  color: whitesmoke;
  text-transform: uppercase; /*Transforme minuscule en majuscule*/
  font-size: xx-large;
  font-weight: 900;
}
@keyframes spin {   /*** Permet de définir les étapes qui composent la séquence d'une animation CSS.***/
  to {
    transform: rotate(360deg);
  }
}

@keyframes hidewrapper {
  to {
    visibility: hidden;    /*La boîte est invisible mais continue d'avoir un impact sur la disposition*/
}
}

/****Fin loading spinner****/

/*****Header*****/
header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
}

#logo-ohmyfood {
  display: block;
  margin: auto; /*Ainsi se place au milieu avec display block*/
}
/*****Fin header*****/

main {
  margin: auto;
  display: block; /*valeur par défaut, elements les un en dessous de autres, oblige à revenir à la ligne*/
  justify-content: flex-start; /*Indique la façon dt l'espace doit etre réparti entre et autour des élements selon l'axe principal*/
  width: 100%;
}

/*********************Premiére section va du choix de la ville jusqu'à explorer nos restaurants************************/
#search-city {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background-color: #eaeaea;
  border-style: none;
  align-items: center;
}

#Paris {
  font-family: "robotto", sans-serif;
  font-weight: 700;
}

.fas.fa-map-marker-alt {
  padding: 1rem 1.25rem;
}

#bloc-section {
  text-align: center;
  padding: 2rem;
  background-color: #f6f6f6;
  margin-right: auto;
  margin-left: auto;
}

.title-h1 {
  font-weight: bold; /*Gras police*/
  font-size: 24px; /*Taille police*/
  
}

#discover {
  font-weight: 300;
  font-size: 16.5px;
}

.explore-restaurant {
  border-radius: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  width: 55%;
  border: none;
  color: white;
  text-align: center;
  margin: auto; /*Se centre au milieu de la page*/
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5%;
}

.explore-restaurant:hover {
  background: #d979ff; /*** !!!!Animation CSS, au hover, couleur qui s'éclairsit, l'ombre plus visible!!!!*/
  box-shadow: 0px 5px 10px 3px #c6c6c6;
}

/***************************************Deuxiéme section************************************/

#second-section {
  margin: 5%;
  font-weight: bold;
  padding-top: 6px;
  margin-bottom: 40px;
}

#choice {
  display: flex;
  flex-direction: column;
}

.flex-choice {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: 4%;
}

.a-second-section {
  text-decoration: none;
  color: black;
  background-color: #f6f6f6;
  align-self: center;
  margin-bottom: 25px;
  height: 75px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 24px;
  box-shadow: 2px 2px 6px #aaa;
  margin-left: 10px;
}

.number {
  display: flex;
  align-items: center;
  background-color: #9356dc;
  color: white;
  cursor: pointer;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 28px;
  font-size: 0.9em;
  left: -10px;
  position: relative;
}

.fas.fa-mobile-alt,
.fas.fa-list,
.fas.fa-store.logo_menu {
  margin-left: 10px;
}

.fas.fa-mobile-alt,
.fas.fa-list {
  color: #7e7e7e;
}

.fas.fa-store.logo_menu {
  color: #9356dc;
}

.choose-preference {
  text-align: center;
  padding: 22px; /*Permet au border-radius d'être plus volumineux*/
  font-size: 14px;
}
/********Fin deuxiéme section********/

/*****************************************Troisiéme et derniére section***********************************/

#third-section {
margin: 40px;
margin-top: 100px;
background-color: #f6f6f6;
margin: 0;
padding-top: 5%;
padding-bottom: 9%;
}

.title-restaurant {
margin: 5%;
}


.backround-card {  /*Fond de l'image blanc*/
  width: 90%;
    margin: 5%;
    cursor: pointer;
    border-radius: 15px;
    background: white;
    box-shadow: 0px 4px 15px #aaaaaa;
    padding-bottom: 1%;
    position: relative;
 
}

.a-third-section {
  text-decoration: none;  /*enléve les traits du dessous*/
  color: black;
}



.pictures {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 150px;
  max-width: 100%;
  object-fit: cover; /*Permet à l'image de ne pas être déformée*/
}

.new {
  border-radius: 10%;
    padding: 5px 10px;
    right: 8%;
    margin-top: 15px;
    position: absolute;
    background-color: #99e2d0;
    color: #2c9c81;
    font-size: 14px;
    font-weight: 600;
    font-family: roboto sans-serif;
}

.flex-menu {    /*Pour que les coeurs se trouvent à coté à droite du  titre et du paragraphe(qui eux, sont l'un en dessous de l'autre)*/
display: flex;    
align-items: center;
justify-content: space-between;
padding: 0 10px;
}

.title {
  margin-bottom: 0;
  margin-top: 5%;
  font-weight: bold;
}

.paragraph {   /*Sans margin-bottom sur title, paragraph ne peut pas se decaler juste en dessous de title*/
  margin-top: 0;
}

.heart {
  font-size: 30px;
  position: relative;
  cursor: pointer;
  height: 60px; /*pour s'aligner avec le nom du restaurant*/
}

.fas.fa-heart {   /*full*//***Le remplissage noire est en display none et est suppeposé sur le heart empty*/
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 4;
  display: none;
}

.far.fa-heart {   /*empty*/
  position: relative;
}
          
footer {
  background-color: #353535;
  padding: 5%;
  display: flex;  /*Je mets dispay: flex pour pouvoir le positionner en row en version desktop*/
  flex-direction: column;
}

.white-logo {
  color: #FFFFFF;
}

ul {
  list-style-type: none;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;    /*enléve les traits du dessous*/
}

.white-logo {
  font-family: 'Shrikhand';
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 10px;
}

.flex-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin-top: 5px
}

.fas.fa-utensils,
.fas.fa-hands-helping  {
  font-size: 12px;
  padding-right: 10px;
}

.flex-info a {
  padding: 5px 0;
}

.flex-info a:hover {
  opacity: 80%;
  cursor: pointer;
}

/*******************************Fin code css pour la page index.html**********************/

