/*******************************************BREAKPOINTS************************************************/
/*********version desktop feuille de style menu-desktop.css*************/

/**************************** @media 1240px *************************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/***On peut mettre ce lien de google font (police d'écriture) soit ds le CSS soit ds le html***/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

html {
  text-size-adjust: 100%;
  /* Determine ajustement taille police par rapport à sa taille initiale*/
  font-size: 100%;
  /*Tous mes éléments utilisant l’unité de mesure REM, auront une taille relative à cette taille (100% dans le cas présent)*/
}

body,
html,
h3 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1  /*logo du footer, tous les autres c'est roboto*/
{
  font-family: "shrikhand";
}


@media all and (min-width: 1240px) {

  .img-menus {
    height: 250px;
  }

    .name-restaurants {
      width: 1150px;
      margin: auto;
    }
  
    .title-bold {
      font-size: 28px;
   }
  
    .title-and-heart {
      display: flex;
      justify-content: center;
      padding-top: 2%;
    }
  
    #heart-menu {
      font-size: 22px;
      margin-left: 58%;
      margin-top: 22%;
    }
  
    .choice-menu {
      width: 634px;
    }
  
    .all-menu {
      /*Pour centrer tous les menus*/
      margin-left: 250px;
      margin-right: 250px;
    }

    .title-border-bottom {
      width: 5%;
  }
}