/*******************************************BREAKPOINTS************************************************/
/*********version desktop feuille de style menu-desktop.css*************/

/**************************** @media 1240px *************************/

@media all and (min-width: 1240px) {
    .name-restaurants {
      width: 1150px;
      margin: auto;
    }
  
    .title-bold {
      font-size: 28px;
   }
  
    .title-and-heart {
      display: flex;
      justify-content: center;
      padding-top: 2%;
    }
  
    #heart-menu {
      font-size: 22px;
      margin-left: 58%;
      margin-top: 22%;
    }
  
    .choice-menu {
      width: 634px;
    }
  
    .all-menu {
      /*Pour centrer tous les menus*/
      margin-left: 250px;
      margin-right: 250px;
    }
  }
  